<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{# //karapuz: after:</footer> #}
<script type="text/javascript"><!--
{% if ka_js_labels %}

	var ka_js_labels = [];

	{% for k,v in ka_js_labels %}
	ka_js_labels['{{ k }}'] = "{{ v|e }}";
	{% endfor %}	

{% endif %}

{% if ka_enable_form_validation %}
$(document).ready(function() {

	$('button[form]').each(function() {
	
		var formid = $(this).attr('form');
		var $form = $('#' + formid);
		if (!$form) {
			return;
		}

		$form.on('submit', function(e) {
		
			var $form = $(this);
			
			var error = '';
			
			$form.find('[required]').each(function(idx, el) {
					if (!el.checkValidity()) {
						var name = $(el).closest('.form-group').find('label.control-label').text();
						
						if (!name) {
							name = $(el).data('title');
						}
						
						if (!name) {
							name = $(el).attr('name');
						}
						if (!name) {
							name = el.tagName;
						}
						
						if (error) {
							error += ', ';
						}
						error += (name);
					}
			});

			if (error) {
				ka_extensions.showMessage(ka_js_labels['txt_field_validation_error'] + error, 'E');
				e.preventDefault();
				return;
			}
		});
	});
});
{% endif %}
//--></script>
{# ///karapuz #}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->

</body></html>