{#
    $Project$
    $Author$
    $Version$ ($Revision$)
#}

{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      	{% block page_buttons %}{% endblock %}
      </div>
      <h1>{{ heading_title }}</h1>
      {% block page_breadcrumbs %}
	      {% include '@ka_common/breadcrumbs.twig' %}
	    {% endblock %}
    </div>
  </div>
  <div class="container-fluid">
  {{ ka_top }}
		{% block page_contents %}The page does not have any contents.{% endblock %}
	</div>
	<style>
		.radio input[type=radio] {
			top: 3px;
		}
		.checkbox input[type=checkbox] {
			top: 2px;
		}
	</style>
</div>
{{ footer }}