{#
    $Project$
    $Author$
    $Version$ ($Revision$)
    
    This template is deprecated. Use pages/page.twig
#}
{{ header }}
{% block common_header_scripts %}
{# js file is loaded by code for now (to make it available under all themes at once)
	<script src="catalog/view/javascript/extension/ka_extensions/common.js" type="text/javascript"></script>
#}
<link href="catalog/view/theme/default/stylesheet/extension/ka_extensions/stylesheet.css" rel="stylesheet" media="screen" />

{% endblock %}
{% block header_scripts %}{% endblock %}
<div id="{{ page_id }}" class="container">
	{% block breadcrumbs %}{{ ka_breadcrumbs }}{% endblock %}
	{% block top_messages %}{{ ka_top }}{% endblock %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
    {% else %}
  	  {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    	{% block contents %}{{ contents }}{% endblock %}
		{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{% block footer_scripts %}
{% endblock footer_scripts %}
{{ footer }}