{#
  Project: Ka Extensions
  Author : karapuz <support@ka-station.com>

  Version: 4 ($Revision: 560 $)

PARAMETERS:
  $name       - name of the select element;
  $options    - array of key-value pairs like this one:
								$options = arrray(
									'<key>' => '<value>'
								)
  $value      - selected option
  $first_line - insert y/n the first empty line to the select

EXAMPLE:
	{% include 'extension/ka_extensions/common/select.twig' with {'options': statuses, 'value': product_warranty['status'] } %}    
	
#}

{% if (name) %} 
	<select name="{{ name }}" {% if (extra) %} {{ extra }} {% endif %} class="form-control">
		{% if (first_line) %} 
		  <option value="">{{ first_line }}</option>
		{% endif %} 
		{% for k,v in options %} 
		  <option value="{{ k }}" {% if (value == k) %} selected="selected" {% endif %}>{{ v }}</option>
		{% endfor %}
	</select>

{% else %} 

 {% if (value and options[value] is defined) %}
 	{{ options[value] }}
 {% else %} 
 	{{ "Undefined" }}
 {% endif %}
{% endif %}